body {
  background-image: url(http://i.stack.imgur.com/IehB7.png);

}
.container {
  width: 50%;
  margin-top: 5%;
}

.jumbotron {
  text-align: center;
}

.panel-body {
height: 300px;
position:relative;
font-size: 110%
}

#platformTypePanel, #operatingSystemPanel, #mathFocusPanel, #workEnvPanel, #flexibilityPanel, #gutPanel, #output, .recommendation2text, img {
  display: none;
}
#nameOutput, #recommendation, #recommendation2 {
  font-weight: bold;
  font-size: 140%;
}

#output .panel-body {
  text-align: center;
}
button {
  position:relative;
  /*float: bottom-right;*/

}

img {
  height: 130px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}
.panel-body label {
  cursor: default;
  font-size:
}

.form-control  {
  width:75%;
}
