.form-group {
  width:80%;
}
.form-inline {
  width:30%;
}
#platformTypePanel, #operatingSystemPanel, #mathFocusPanel, #workEnvPanel, #flexibilityPanel, #gutPanel, #output, img {
  display: none;
}
.panel-body {
height: 300px;
position:relative;

}
button {
  position:relative;
  float: bottom;

}
#recommendation, #recommendation2 {
  font-weight: bold;
  font-size: 130%;
}
img {
  height: 160px;
}
